.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-wrapper {
  display: grid;
  grid-template: repeat(5, minmax(0, 1fr)) / repeat(5, minmax(0, 1fr));
  grid-gap: 10px;
  align-items: center;
}

.plus-button {
  grid-column: 4;
  grid-row: 5 / 7;
  height: 100%;
  border-radius: 100px;
  padding: 0px;
  background-color: white;
  color: gray;
}

.zero-button {
  grid-column: 1 / 3;
  grid-row: 6;
  width: 100%;
  border-radius: 100px;
  background-color: white;
  color: gray;
}




